AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_BUCKET_NAME=your-bucket-s3

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your-password
DB_NAME=wordpress
WP_SITE_URL=http://your-wordpress-site.com